.shop-wrapper {
  position: fixed;
  z-index: 1000;
  border: 2px solid #ccc;
  right: 0;
  top: 0;
  background: #f2f2f2;
  width: 300px;
  height: 500px;
  overflow: auto;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.shop__price {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

.product__title {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 15px;
}

.product__image {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 5px;
}

.product__amount {
  font-size: 12px;
  text-decoration: underline;
  margin-bottom: 5px;
}

.product__price {
  color: #ff0000;
  font-weight: 500;
}